<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <NavLink href="" Match="NavLinkMatch.All">
                RewindPM
            </NavLink>
        </div>
    </div>
</nav>
